$w: #ffffff;
$grey-f9: #f9f9f9;

$blue: #6236ff;
$pink: #f9345e;
$green: #1cb142;
$orange: #fa6400;
$darkblue: #1a1053;
$lightblue: #9475ff;

$sm: 767px;
$md: 992px;
$lg: 1200px;
$xl: 1440px;
$hd: 1920px;

$pop: "Poppins", sans-serif;
