.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 16px;
}

.text-lg {
  font-size: 20px;
}

.text-xl {
  font-size: 24px;
}

.fnt-w-400 {
  font-weight: 400;
}

.fnt-w-500 {
  font-weight: 500;
}

.fnt-w-600 {
  font-weight: 600;
}
